    <!-- search bar -->
    <div class="container search-bar">
        <div class="search-bar-outer">
            <div class="search-bar-inner">
                <form action="/search">
                    <div class="container m-0 p-0 w-100 d-flex justify-content-between">
                        <h4 class="mb-2">尋找餐廳：</h4>
                    </div>
                    <div class="input-group">
                        <div class="input-group-append">
                            <button class="btn btn-major rounded-pill rounded-end" type="submit" id="search-button"><i
                                    class="fas fa-search"></i></button>
                        </div>
                        <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類"
                            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
                        <!--Search will send sort by last time-->
                        {{#if sortKeyword}}
                            <input type="hidden" name="sort" value="{{sortKeyword}}">
                        {{/if}}
                        <!--Drop down-->
                        <div class="dropdown">
                           <button class="btn btn-major dropdown-toggle rounded-pill rounded-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                               Sort
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{{#if keyword}}/search?keyword={{keyword}}&{{else}}/?{{/if}}sort=A2Z">A -> Z</a></li>
                              <li><a class="dropdown-item" href="{{#if keyword}}/search?keyword={{keyword}}&{{else}}/?{{/if}}sort=Z2A">Z -> A</a></li>
                              <li><a class="dropdown-item" href="{{#if keyword}}/search?keyword={{keyword}}&{{else}}/?{{/if}}sort=category">類別</a></li>
                              <li><a class="dropdown-item" href="{{#if keyword}}/search?keyword={{keyword}}&{{else}}/?{{/if}}sort=location">地區</a></li>
                          </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- restaurant list -->
    <div class="container mt-3">
        <div class="raw">
            <div class="col-12  d-inline-flex flex-column  justify-content-center align-items-center">
                <img class="my-3" src="/image/doge.png" alt="" style="height:150px;width:130px;">
                <h3 style="color:#6C757D;">Wow! Such Empty!</h3>
            </div>
        </div>
    </div>
